@use '@zocom/styles' as *;

.kitchen-page {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: $coal;
  padding: 0 $padding-large;

  .kitchen-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $gap-huge;
  }

}
  